body{
    background-color:#69969C;
}
h1{
        front-family: arial;
        front-size: 45px;
        color: #042159;
}

#pepe{
        width: 240px;
        height: 220px;
        border-radius: 50%;
        border: 5px solid #082B76;
}