body{
    background-color:#69969C;
}
h1{
        front-family: arial;
        front-size: 45px;
        color: #042159;
        text-align: center;
      
}
h2, h3, p{
     text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}

#pepe{
        width: 240px;
        height: 220px;
        border-radius: 40%;
        border: 5px solid #082B76;
}
button{
    display: block;
    margin: 0 auto;
    background-color:#85738F;
    padding: 15px 32px
}
#pepe:hover{
    box-shadow: 0 0 2px 1px blue;
    transform: scale(1.5);
}
button:hover{
    background-color: #468C4B;
}

#tabla1 tr:hover {
    background-color:pinck
}
.noticias {
     border: 5px ridge #566DB9;
     background-color: #0B8888;
     padingg: 2px;
     display: flex;
     flex-direction: column;
}
.noticias p {
    font-family: Helvetica;
    text-align: center;
}
#tablat {
    margin: 0 auto;
    width: 40%;
}    
#tabla1 {
    margin: 0 auto;
    width: 20%;
}   